@using DataAccessLogic.DatabaseModels;
@using DataAccessLogic.HelperServices;

@model AuctionLotsViewModel

@{
    ViewData["Title"] = "Список лотов";
}

@addTagHelper *, WebApplicationTechSale

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-lg-2">
    @foreach (AuctionLot auctionLot in Model.AuctionLots)
    {
        if (auctionLot.Status == LotStatusProvider.GetOnModerationStatus())
        {
            <div class="col">
                <div class="card h-100 ">
                    <a><img src="@auctionLot.PhotoSrc" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <a asp-action="CheckLot" asp-controller="Moderator" asp-route-id="@auctionLot.Id">
                            <h5 class="card-title">@auctionLot.Name</h5>
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Продавец: @auctionLot.User.UserName</b></li>
                    </ul>
                </div>
            </div>
        }
    }
</div>

@if (Model.AuctionLots.Count() > 0)
{
    <pagination page-model="@Model.PageViewModel" page-action="Lots"></pagination>
}
