@using DataAccessLogic.DatabaseModels

@model AuctionLot

<div class="col">
    <div class="card h-100 rounded-0">
        <div class="card-header text-center bg-white"><h5 class="py-0 my-0">Опубликован</h5></div>
        <img src="@Model.PhotoSrc" class="card-img-top rounded-0" alt="...">
        <div class="card-body">
            <a class="auction-link" asp-action="OpenLot" asp-controller="User" asp-route-id="@Model.Id">
                <h5 class="card-title">@Model.Name</h5>
            </a>
            <ul class="list-group list-group-flush">
                @if (DateTime.Now > Model.StartDate && DateTime.Now < Model.EndDate)
                {
                    <li class="list-group-item"><b>Текущая цена: </b>@Model.PriceInfo.CurrentPrice руб.</li>
                    <li class="list-group-item"><b>До конца: </b><span class="active-lot">@Math.Round((Model.EndDate - DateTime.Now).TotalSeconds)</span></li>
                }
                else if (DateTime.Now < Model.StartDate)
                {
                    <li class="list-group-item"><b>Начало торгов: </b>@Model.StartDate.ToShortDateString()</li>
                    <li class="list-group-item"><b>Стартовая цена: </b>@Model.PriceInfo.StartPrice руб.</li>
                }
                else
                {
                    <li class="list-group-item"><b>Торги окончены </b>@Model.EndDate.ToShortDateString()</li>
                    <li class="list-group-item"><b>Цена закрытия: </b>@Model.PriceInfo.CurrentPrice руб.</li>
                }
            </ul>
        </div>
        <div class="card-footer border-top-0 bg-white">
            <a asp-action="OpenLot" asp-controller="User" asp-route-id="@Model.Id" class="my-2 btn btn-lg btn-dark rounded-0 d-block">Подробнее</a>
        </div>
    </div>
</div>