@using DataAccessLogic.DatabaseModels;

@model AuctionLot

<div class="row justify-content-center pt-3">
    <div class="col-lg-10 col-xl-9 d-flex align-items-center">
        <div class="h4 my-0 py-3">@Model.Name</div>
    </div>
    @if (User.Identity.Name != Model.User.UserName)
    {
        if (ViewBag.IsSaved)
        {
            <div class="col-lg-10 col-xl-9">
                <form method="post" asp-action="RemoveLot" asp-controller="User" asp-route-lotId="@Model.Id">
                    <div class="d-grid my-3">
                        <button type="submit" class="btn btn-lg btn-dark rounded-0">Удалить из избранного</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="col-lg-10 col-xl-9">
                <form method="post" asp-action="SaveLot" asp-controller="User" asp-route-lotId="@Model.Id">
                    <div class="d-grid my-3">
                        <button type="submit" class="btn btn-lg btn-dark rounded-0">Добавить в избранное</button>
                    </div>
                </form>
            </div>
        }
    }
</div>
<div class="row justify-content-center">
    <div class="col-lg-10 col-xl-9">
        <div class="card rounded-0">
            <img src="@Model.PhotoSrc" class="card-img-top rounded-0" alt="...">
        </div>
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-lg-6 col-xl-6">
        <div class="row mb-4 mb-xl-0 h-100">
            @if (DateTime.Now < Model.StartDate)
            {
                <div class="col-sm-7 d-flex align-items-center">
                    <h5>Начало: <span>@Model.StartDate.ToString("dd.MM.yy")</span></h5>
                </div>
                <div class="col-sm-5 d-flex align-items-center">
                    <h5>Старт: <span>@Model.PriceInfo.StartPrice</span> руб.</h5>
                </div>
            }
            else if (DateTime.Now > Model.StartDate && DateTime.Now < Model.EndDate)
            {
                <div class="col-sm-7 d-flex align-items-center">
                    <h5>До конца: <span id="timeLeft"></span></h5>
                </div>
                <div class="col-sm-5 d-flex align-items-center">
                    <h5>Ставка: <span>@Model.PriceInfo.CurrentPrice</span> руб.</h5>
                </div>
            }
            else
            {
                if (Model.Bids.Count > 0 && Model.Bids.First().User.UserName == User.Identity.Name)
                {
                    <h5 class="text-center">Поздравляем! Вы победили в торгах</h5>
                    <h5 class="text-center">для информации о получении товара свяжитесь с продавцом по почте @Model.User.Email</h5>
                }
                else
                {
                    <h5 class="text-center">Торги окончены @Model.EndDate.ToShortDateString()</h5>
                    <h5 class="text-center">Цена закрытия @Model.PriceInfo.CurrentPrice руб.</h5>
                }
            }
        </div>
    </div>
    @if (DateTime.Now < Model.StartDate && User.Identity.Name == Model.User.UserName)
    {
        <div class="col-lg-4 col-xl-3">
            <a class="btn btn-lg btn-dark rounded-0 d-block">Редактировать</a>
        </div>
    }
    else if (DateTime.Now > Model.StartDate && DateTime.Now < Model.EndDate && User.Identity.Name != Model.User.UserName)
    {
        <div class="col-lg-4 col-xl-3">
            <form method="post" asp-action="PlaceBid" asp-controller="User" asp-route-lotId="@Model.Id">
                <div class="d-grid">
                    <button type="submit" class="btn btn-lg btn-dark rounded-0">Ставка +@Model.PriceInfo.BidStep</button>
                </div>
            </form>
        </div>
    }
</div>
<div class="row justify-content-center">
    <div class="col-lg-10 col-xl-9">
        <div class="card my-3 rounded-0">
            <div class="card-body">
                <h4 class="card-title mb-3">Информация о лоте</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="card-text">
                            <p class="h5">Продавец:</p>
                            <p class="mb-0">@Model.User.UserName</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-text">
                            <p class="h5">Название:</p>
                            <p class="mb-0">@Model.Name</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-text">
                            <p class="h5">Описание:</p>
                            <p class="mb-0">@Model.Description</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-text">
                            <p class="h5">Дата начала торгов:</p>
                            <p class="mb-0">@Model.StartDate.ToLongDateString()</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-text">
                            <p class="h5">Дата окончания торгов:</p>
                            <p class="mb-0">@Model.EndDate.ToLongDateString()</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@if (DateTime.Now > Model.StartDate && Model.Bids.Count > 0)
{
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <p>
                <h4>История ставок:</h4>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-10 col-xl-9">
            <ul class="list-group mb-4 rounded-0">
                @foreach (Bid bid in Model.Bids)
                {
                    if (bid.BidTimePrice == Model.PriceInfo.CurrentPrice)
                    {
                        <li class="list-group-item w-100 d-flex bg-secondary text-light justify-content-between bg">
                            <span class="h6 my-0 py-1">@bid.User.UserName</span>
                            <span class="h6 my-0 py-1">@bid.Time.ToShortDateString()</span>
                            <span class="badge bg-dark"><span class="my-0 h6">@bid.BidTimePrice руб.</span></span>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item w-100 d-flex justify-content-between">
                            <span class="h6 my-0 py-1">@bid.User.UserName</span>
                            <span class="h6 my-0 py-1">@bid.Time.ToShortDateString()</span>
                            <span class="badge bg-dark"><span class="my-0 h6">@bid.BidTimePrice руб.</span></span>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}

@if (DateTime.Now > Model.StartDate && DateTime.Now < Model.EndDate)
{
    @section Scripts {
        <script>
            let timeLeft = @Math.Round((Model.EndDate - DateTime.Now).TotalSeconds);

            function Timer() {

                let hoursLeft = Math.round(timeLeft / 3600);
                let minutesLeft = Math.round((timeLeft / 60) % 60);
                document.getElementById("timeLeft").innerHTML = hoursLeft + " ч. " + minutesLeft + " мин.";
                timeLeft--;
                if (timeLeft == 0) {
                    window.location.reload();
                }
            }
            Timer();
            setInterval(Timer, 1000);
        </script>
    }
}
